/*html,*/
/*body{*/
    /*height: 100%;*/
/*}*/

body, html {
    background-image: url("../img/pexels-photo-1288482-large.jpeg");
    background-color: rgb(244,247,249);
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    color: whitesmoke;
}

#cover {
    /*background: whitesmoke center center no-repeat;*/
    /*background-size: cover;*/
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

#cover-caption {
    width: 100%;
}